* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  border: 0;
  background: none;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --Almost-white: hsl(0, 0%, 98%);
  --Medium-gray: hsl(0, 0%, 41%);
  --Almost-black: hsl(0, 0%, 8%);
}

body {
  padding: 1em;
  font-family: Inter, sans-serif;
}

header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2em;
  padding: 1em 1em 1.5em 1em;
}
.logo {
  margin-right: 3em;
}
nav {
  font-size: 15px;
  display: flex;
  gap: 2em;
  align-items: flex-end;
}
nav *,
.cta * {
  font-size: 15px;
  font-weight: 500;
  color: var(--Medium-gray);
  transition: color 100ms linear;
}
nav *:hover,
.cta *:hover {
  color: var(--Almost-black);
  border-color: var(--Almost-black);
}
.cta {
  margin-left: auto;
}
.register-btn {
  border: 2px solid var(--Medium-gray);
  border-radius: 10px;
  padding: 6px 15px;
  margin-left: 1em;
}
.company-btn > svg,
.features-btn > svg {
  position: relative;
  left: 5px;
  bottom: 2px;
}
.company-btn:hover,
.features-btn:hover {
  color: var(--Almost-black);
}
.company-btn,
.features-btn {
  color: inherit;
}
.dropdown {
  position: relative;
  color: var(--Medium-gray);
}
.dropdown.active {
  color: var(--Almost-black);
}
.dropdown-menu {
  transform: translateY(-30px);
  opacity: 0;
  transition: transform 100ms linear, opacity 100ms linear;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  gap: 12px;
  border-radius: 10px;
  padding: 1.45em 1.2em;
  position: absolute;
  top: 2.2em;
  box-shadow: 0 0 50px -18px var(--Medium-gray);
  z-index: 10;
}
.dropdown.active .dropdown-menu {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
.dropdown.active svg {
  transform: rotate(180deg);
}
.features-btn + .dropdown-menu {
  right: 0;
}
.company-btn + .dropdown-menu {
  left: 0;
}
.dropdown-menu > div {
  text-align: start;
  width: 100%;
  display: flex;
  align-items: center;
}
.dropdown svg {
  margin-right: 10px;
  transition: transform 100ms linear;
}
.container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 50px;
  padding: 0 3em 0 7em;
}
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  margin-top: 3.5em;
}
.hero-img > img {
  width: 100%;
}
.big-txt {
  font-size: 4.5em;
  font-weight: 700;
  margin-top: 0.5em;
  line-height: 1;
}
.small-txt {
  font-size: 18px;
  color: var(--Medium-gray);
  margin: 2.5em 0 3em 0;
}
.main-btn {
  background-color: var(--Almost-black);
  border-radius: 12px;
  color: var(--Almost-white);
  padding: 0.75em 2em;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5em;
  border: 2px solid black;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}
.main-btn:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}

.companies {
  display: flex;
  justify-content: space-between;
  width: 70%;
  justify-self: flex-end;
}
